.product{
    width: 100%;
}

.nav-left{
   
}
.content{
    
    width: 100%;
}
.product-list{
  
}

.product-breadcrumb__item a{
    color: var(--cl-title)
}

.product-breadcrumb__item--active a{
    color: var(--cl-red);
}
.container-infor{
    border-radius: 5px;
    margin: 30px;
    padding: 10px;
    border: 1px solid var(--cl-green);
    box-shadow: 5px 5px rgb(238, 235, 235);
}
.container-infor__item{
    margin: 14px 15px;
    font-size: 1rem;
}
.container-infor__item input{
    margin-top: 3px;
    height: 30px;
}

.btn-edit{
    
    background-color: var(--cl-green);
    display: block;
    width: 100%;
    outline: none;
    border: none;
    height: 30px;
    color:#ffff;
    border-radius: 5px;
   
}
.container-infor__title{
   
    color:#ffff;
    text-align: center;
    line-height: 1.8rem;
    height: 30px;
    width: 100%;
    background-color: green;
}
.container-infor__name{
    margin: 10px;
}
.col-product__item{
    max-width: 200px;
    max-height: 250px;
}
.product-img img{
    height: 184px;
}
 .button-add-product:hover {
    color: #fff;
    background: var(--cl-orange);
    transition: 0.3s linear;
}
.button-add-product--view{
    
}
.col-product__item:hover .button-add-product {
    visibility: visible;
    right: -100px;
}