/* Main */
html, body {
    height: 100%;
}

.main-wrap {
    display: flex;
    height: 100%;
}

#wrapper {
    height: 100%;
}

#wrap {
    height: 100%;
}

.main-nav {
    top: 0;
    width: 16%;
    height: 100%;
    background: var(--cl-green);
    box-shadow: 0 0.125rem 9.375rem rgb(90 97 105 / 10%), 
    0 0.25rem 0.5rem rgb(90 97 105 / 12%), 
    0 0.9375rem 1.375rem rgb(90 97 105 / 10%), 
    0 0.4375rem 2.1875rem rgb(165 182 201 / 10%);
}

.main-nav > .nav-header {
    background-color: white;
    height: 58px;
    width: 100%;
    display: block;
}

.main-nav > .nav-header > .nav-header__logo {
    height: 100%;
    width: 100%;
}

.main-nav > .nav-header > .nav-header__logo > img {
    width: 92%;
    height: 89%;
    margin: 2px 18px;
}

.main-nav > .nav-container > ul {   
    display: block; 
}

.main-nav > .nav-container > ul li {
    padding: 20px;    
    color: #fff;
    background-color: #34af0f;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}


.main-nav > a > .nav-container > ul > li  > i {
    width: 16px;
    height: 16px;
}

.main-nav > .nav-container > ul > a{
    color: white;
}

/* Main Box */

.main-box {
    width: 84%;
}

.main-box > .box-info {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cl-green);
    height: 58px;
}

.nav__user {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-box > .box-info > .row {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.nav__user > .nav__user-bell {
    color: #dcdfe2;
    height: inherit;
    padding: 0 20px;
    display: flex;
    align-items: center;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;

}

.nav__user > .nav__user-bell > i {
    font-size: 30px;
}

.main-box > .box-info > .row > .col-lg-3 {
    height: 100%;
}