.product{
    width: 100%;
}


.content{
    
    width: 100%;
}
.product-list{
  margin-bottom: 40px;
}

.product-breadcrumb__item a{
    color: var(--cl-title)
}

.product-breadcrumb__item--active a{
    color: var(--cl-red);
}
.container-infor{
    border-radius: 5px;
    margin: 30px;
    padding: 10px;
    border: 1px solid var(--cl-green);
    box-shadow: 5px 5px rgb(238, 235, 235);
}
.container-infor__item{
    margin: 14px 15px;
    
}
.container-infor__item input{
    margin-top: 3px;
    height: 30px;
    
}
.container-infor__item .edit{
    font-size: 14px !important;
}
.btn-edit{
    
    background-color: var(--cl-green);
    display: block;
    width: 100%;
    outline: none;
    border: none;
    height: 30px;
    color:#ffff;
    border-radius: 5px;
   
}
.container-infor__title{
   
    color:#ffff;
    text-align: center;
    line-height: 1.8rem;
    height: 30px;
    width: 100%;
    background-color: green;
}
.container-infor__name{
    margin: 10px;
}
.product-list__title{
    margin-bottom: 10px;
} 
.col-product__item{
    padding: 0px 6px;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
   
    max-height: 290px;
}
.product-img{
    position: relative;
    width: 100%;
    text-align: center;
}
.product-img img{
    width: 100%;
    height: 184px;
}
 .button-add-product:hover {
    color: #fff;
    background: var(--cl-orange);
    transition: 0.3s linear;
}
.button-add-product--view{
   
    display: inline-block;
    cursor: pointer;
    right: -200px;
    top : 10px;
}

.col-product__item:hover .button-add-product {
        visibility: visible;
        right: -10px;
    } 

.img--hover{
    content: "";
    width: 100%;
    height: 184px;
    background: #333;
    opacity: 0;
    position: absolute;
    top: 0;
   
    transition: all 0.5s;
}
.col-product__item:hover .img--hover{ 
    opacity: 0.6;
}
.product-item-icon{

    transition: ease-in 0.2s;
    color: var(--cl-text);
    font-weight: 400;
    font-size: 20px;
    position: absolute;
    z-index: 2;
    top :3px;
    right: -30px;
    visibility: hidden;
    
}

.col-product__item:hover .product-item-icon{
    visibility: visible;
    right: 10px;
}

.home-product-item__percent{
   padding-top: 5px;
}

.product-item__sale-off{
    
    font-size: 14px;
    color: #fff;
    position : absolute;
    text-align: center;
    z-index: 1;
    left : 0;
    top : 0;
    background-color: var(--cl-red);
    width : 40px; 
    height : 36px;
}
.col-product__item::after{
    content : "";
    border-width : 0 20px 6px;
    position : absolute;
    color :var(--cl-red);
    top : 36px;
    left: 0;
    border-style : solid;
    border-color:  transparent currentColor transparent currentColor;

}

.tilte-name-product-t{
    font-weight: bold;
    font-size: 14px;
    width: 100%;
    margin: 10px 0px;
}
.price-new{
    display: inline-block;
    font-weight: bold;
    color: var(--cl-red);
    margin-top: 5px;
    margin-bottom: 0px;
    padding: 0;
}

/*left  */
.product__content{
    margin-top: 20px;
}
.nav-left__category h1{
    font-size: 18px;
    
}
.category__item{
    position: relative;
    font-size: 16px;
    margin: 10px 0px 10px;
    
}
.category__item:hover, .category__item:hover a{
    color: var(--cl-red);
    right: -5px;
}
.nav-left__filter-product{
    margin: 20px 0;
}

.filter-collocation__item input{
    margin-right: 5px;
}
input[type="radio"]:checked {
   content: '';
   color: var(--cl-green);
   background:var(--cl-green);
}
.filter-origin__item ,.filter-price__item , .filter-collocation__item, .filter-category__item{
    margin: 10px 0;
}
.swich-icon{
    margin-right: 5px;
    color: var(--cl-green);
}

.container-inforChange{
    margin: 20px;
}
.infoChange-type{
    margin-right: 5px;
}
.container-pass,.container-inforp {
    border: var(--cl-green) 1px solid;
    border-radius: 4px;
    display: none;
}
#radio-changeInfor:checked ~ .container-inforp{
    display: block;
}
#radio-changePass:checked ~ .container-pass{
    display: block;
}
#radio-changeInfor ~ div{
    margin: 10px;
}
/* ----------------------- Trang ADMIN----------------------- */
.main_content{
    width: 100%;
    background-color: var(--cl-backad);
}
.main_content-center{
   
    font-size: 1.6rem;
    color: var(--cl-textad);
    padding: 30px 25px;
    border-radius:5px ;
    width: max-content;
    border: #f6f6f8 solid 1px;
    background-color: #ffff;
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15)!important;
    margin: 100px;
}
.product-table{
    max-width: 100%;
    margin: 10px;
    margin-top: 20px;
    border-radius: 2px;
   
}

.product-table th,td{
    border: #e3e6f0 solid 1px;
    padding: 20px;
    max-width: 250px;
}
.btn-addproduct:hover{
    cursor: pointer;
    color: rgb(233, 227, 227);
    opacity: 0.6;
}

.head-tableProduct{
    padding:10px 10px;
    border-top: #e3e6f0 solid 1px;
    border-bottom: #e3e6f0 solid 1px;
    margin: 20px 10px;
    display: flex;
    justify-content: space-between;
}
.btnUpdate--delete.btn-addproduct{
    background-color: var(--cl-red);
}
.btn-addproduct{
    outline: none;
    min-width: fit-content;
    max-width: 65px;
    color: #ffff !important;
    background-color: var(--cl-green);
    text-align: center;
    padding: 5px;
    border-radius: 5px ;
}
.add-product-form{
    
    margin-top: 10px;
    width: 100%;
}
.add-product-item{
    width: 900px;
    margin: 20px 5px;
}

.add-product-form label{
    margin: 10px 0px;
    display: block;
}